.search-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  transition: 0.5s;
}
.search-wrapper.active {
}

.move-up {
  top: 100px;
  transition: 0.5s;
}

.search-wrapper .input-holder {
  height: 70px;
  width:70px;
  overflow: hidden;
  background: rgba(255,255,255,0);
  border-radius:6px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
  width:450px;
  border-radius: 50px;
  background: rgba(0,0,0,0.5);
  transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.search-wrapper .input-holder .search-input {
  width:100%;
  height: 50px;
  padding:0px 70px 0 20px;
  opacity: 0;
  position: absolute;
  top:0px;
  left:0px;
  background: transparent;
  box-sizing: border-box;
  border:none;
  outline:none;
  font-family:"Open Sans", Arial, Verdana;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color:#FFF;
  transform: translate(0, 60px);
  transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
  opacity: 1;
  transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
  width:70px;
  height:70px;
  border:none;
  border-radius:6px;
  background: #FFF;
  padding:0px;
  outline:none;
  position: relative;
  z-index: 2;
  float:right;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
  width: 50px;
  height:50px;
  margin: 10px;
  border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
  width:22px;
  height:22px;
  display: inline-block;
  vertical-align: middle;
  position:relative;
  transform: rotate(45deg);
  transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
  transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
  position: absolute;
  content:'';
}
.search-wrapper .input-holder .search-icon span::before {
  width: 4px;
  height: 11px;
  left: 9px;
  top: 18px;
  border-radius: 2px;
  background: #FE5F55;
}
.search-wrapper .input-holder .search-icon span::after {
  width: 14px;
  height: 14px;
  left: 0px;
  top: 0px;
  border-radius: 16px;
  border: 4px solid #FE5F55;
}
.search-wrapper .close {
  position: absolute;
  z-index: 1;
  top:24px;
  right:20px;
  width:25px;
  height:25px;
  cursor: pointer;
  transform: rotate(-180deg);
  transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
  transition-delay: 0.2s;
}
.search-wrapper.active .close {
  right:-50px;
  transform: rotate(45deg);
  transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
  position:absolute;
  content:'';
  background: #FE5F55;
  border-radius: 2px;
}
.search-wrapper .close::before {
  width: 5px;
  height: 25px;
  left: 10px;
  top: 0px;
}
.search-wrapper .close::after {
  width: 25px;
  height: 5px;
  left: 0px;
  top: 10px;
}

// Document Styling

body {
  background-color: red;
}

.results-wrapper {
  margin-top: 150px;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

// Spinner
$blue: rgb(0,155,255);


.jawn {
  position: absolute;
  display: none;
  transform: translate(-50%, -50%);
  top:50%;
  left:92.3%;
  background-color: #F8E71C;
  width: 10px;
  height: 10px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 99;

  &:after, &:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  &:after {
    left: -10px;
    top: -5px;
    background-color: #C7C2A6;
    transform-origin: 15px 10px;
    animation: axis 1s linear infinite;
  }
  &:before {
    left: -25px;
    top: -15px;
    background-color: $blue;
    transform-origin: 30px 20px;
    animation: axis 2s linear infinite;
  }
}

@keyframes axis {
  0% {
    transform: rotateZ(0deg) translate3d(0,0,0);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0,0,0);
  }
}


// Main container
.hidde {
  display: none;
}

.colored-bg {
  background-color: #12162B;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%);
  top:50%;
  left:50%;
  transition: 0.5s;
}

//Content section

.title {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 30%;
  transition: 0.5s;
  font-size: 4em;
  font-family: 'Righteous', cursive;
}

.expanded {
  width: 100%;
  height: 100vh;
  border-radius: 0;
}

.shrink {
  top: 0;
  height: 200px;
  position: fixed;

  .search-wrapper {
    top: 75%;
  }

  .title {
    top: 73%;
    left: 100px;
    font-size: 1em;
  }
}

.wiki-result {
  margin: 0 auto 30px;
  padding: 10px;
  width: 100%;
  background-color: white;
  max-width: 1200px;
}

.srlink {
  width: 100%;
}