$glasscolor : #FF5252;
$bgcolor : #FFC107;

.search-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top:65%;
  left:50%;
  transition: 0.5s;
}
.search-wrapper.active {
}

.move-up {
  top: 100px;
  transition: 0.5s;
}

.search-wrapper .input-holder {
  height: 70px;
  width:70px;
  overflow: hidden;
  background: rgba(255,255,255,0);
  border-radius:6px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
  width:450px;
  border-radius: 50px;
  background: rgba(0,0,0,0.5);
  transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.search-wrapper .input-holder .search-input {
  width:100%;
  height: 50px;
  padding:0px 70px 0 20px;
  opacity: 0;
  position: absolute;
  top:0px;
  left:0px;
  background: transparent;
  box-sizing: border-box;
  border:none;
  outline:none;
  font-family:"Open Sans", Arial, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color:#FFF;
  transform: translate(0, 60px);
  transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.3s;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ecf0f1;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #ecf0f1;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #ecf0f1;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #ecf0f1;
  }
}
.search-wrapper.active .input-holder .search-input {
  opacity: 1;
  transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
  width:70px;
  height:70px;
  border:none;
  border-radius:6px;
  background: #FFF;
  padding:0px;
  outline:none;
  position: relative;
  z-index: 2;
  float:right;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon {
  width: 50px;
  height:50px;
  margin: 10px;
  border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
  width:22px;
  height:22px;
  display: inline-block;
  vertical-align: middle;
  position:relative;
  transform: rotate(45deg);
  transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
  transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
  position: absolute;
  content:'';
}
.search-wrapper .input-holder .search-icon span::before {
  width: 4px;
  height: 11px;
  left: 9px;
  top: 18px;
  border-radius: 2px;
  background: $glasscolor;
}
.search-wrapper .input-holder .search-icon span::after {
  width: 14px;
  height: 14px;
  left: 0px;
  top: 0px;
  border-radius: 16px;
  border: 4px solid $glasscolor;
}
.search-wrapper .close {
  position: absolute;
  z-index: 1;
  top:24px;
  right:20px;
  width:25px;
  height:25px;
  cursor: pointer;
  transform: rotate(-180deg);
  transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
  transition-delay: 0.2s;
}
.search-wrapper.active .close {
  right:-50px;
  transform: rotate(45deg);
  transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
  transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
  position:absolute;
  content:'';
  background: $glasscolor;
  border-radius: 2px;
}
.search-wrapper .close::before {
  width: 5px;
  height: 25px;
  left: 10px;
  top: 0px;
}
.search-wrapper .close::after {
  width: 25px;
  height: 5px;
  left: 0px;
  top: 10px;
}

.search-wrapper .result-container {
  width: 100%;
  position: absolute;
  top:80px;
  left:0px;
  text-align: center;
  font-family: "Open Sans", Arial, Verdana;
  font-size: 14px;
  display:none;
  color:#4E342E;
}

// Document Styling

body {
  background-color: #ecf0f1;
  overflow-x: hidden;
}

.results-wrapper {
  margin-top: 150px;
  max-width: 900px;
  margin: 150px auto 30px;
  font-family: 'Roboto', sans-serif;

  .search-query {
    .words {
      color: $glasscolor;
    }
  }

  .results {
    margin-top:30px;
    margin-bottom: 100px;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

// Spinner
.loader  {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
  top:10px;
  z-index: 99;
  display: none;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #e74c3c;
  box-shadow: 30px 0 0 #f1c40f;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #1abc9c;
  box-shadow: 30px 0 0 #2ecc71;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}

// Main container
.hidde {
  display: none;
}

.colored-bg {
  background-image: url(../images/bg.jpg);
  background-color: $bgcolor;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.5s;
}

//Content section

.title {
  text-align: center;
  position: absolute;
  color:#4E342E;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 40%;
  transition: 0.5s;
  font-size: 4em;
  font-family:'Righteous', cursive;
  white-space: nowrap;

  span {
    color: #2ecc71;
  }
}

.subtitle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 75%;
  z-index: 101;
  font-family:"Open Sans", Arial, Verdana, sans-serif;
  font-size: 1.6rem;
  //color: #757575;
  color: #212121;
}

@media (min-width: 820px) AND (max-width: 1117px ) {
  .title {
    font-size: 3em;
  }
}

.social {
  position: absolute;
  font-size: 2em;
  right: 40px;
  top: 20px;
  transition: 0.5s;

  a {
    color: white;
  }
  .fa {
    margin-left: 10px;
  }
}

.expanded {
  width: 100%;
  height: 100vh;
  border-radius: 0;
}

.shrink {
  top: 0;
  height: 100px;
  position: fixed;

  .search-wrapper {
    top: 50%;
  }

  .title {
    top: 52%;
    left: 100px;
    font-size: 1em;

    .subtitle {
      display: none;
    }
  }

  .social {
    top: 32%;
  }
}

// Media query for header layout 

@media (max-width: 820px) {
  .title {
    font-size: 2em;
    width: 100%;

    .subtitle {
      font-size: 1rem;
    }
  }

  .search-wrapper.active {
    width: 100%;
    padding-left: 20px;

    .input-holder {
      width: 85%;
    }

    .close {
      right: 20px;
    }
  }

  .move-up {
    .input-holder {
      height: 50px;
      .search-input {
        top:-10px;
      }
      .search-icon {
        top: -10px;
        right: -10px;
      }
    }

    .close {
      top: 16px;
    }
  }

  .shrink {
    top: 0;
    height: 130px;
    position: absolute;

    .header {
      background-image: url(../images/bg.jpg);
      background-color: $bgcolor;
      position: fixed;
      top:0;
      left: 0;
      right: 0;
      height: 60px;
      z-index: 100;
    }

    .search-wrapper {
      top: 72%;

      .input-holder {
        .loader {
          top:0;
          right: 0;
        }
      }
    }

    .social {
      right: 20px;
      top: 10px;
    }

  }
}

.wiki-result {
  margin: 0 auto 30px;
  padding: 10px;
  background-color: white;
  max-width: 1200px;
  border-radius: 5px;
  overflow-x: hidden;

  a {
    color: #2196F3;
    text-decoration: none;
  }

  h4 {
    color: #4CAF50;
    font-weight: 300;
    word-break: break-all;
  }

  p {
    font-weight: lighter;
  }
}

footer {
  width: 100%;
  background-color: #FFA000;
  text-align: center;
  z-index: 120;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  font-family: 'Roboto', sans-serif;

  .fa {
    color:$glasscolor;
  }

  a {
    color: #4E342E;
  }
}
